@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 10%;
    --card: 60 50% 95%;
    --card-foreground: 20 14% 10%;
    --popover: 60 50% 95%;
    --popover-foreground: 20 14% 10%;
    --primary: 19 56% 41%;
    --primary-foreground: 40 50% 98%;
    --secondary: 60 25% 85%;
    --secondary-foreground: 20 14% 10%;
    --muted: 60 25% 88%;
    --muted-foreground: 20 14% 40%;
    --accent: 120 27% 65%;
    --accent-foreground: 120 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 19 56% 41%;
    --chart-1: 120 30% 50%;
    --chart-2: 19 56% 41%;
    --chart-3: 30 70% 60%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 60 50% 95%;
    --sidebar-foreground: 20 14% 10%;
    --sidebar-primary: 19 56% 41%;
    --sidebar-primary-foreground: 40 50% 98%;
    --sidebar-accent: 60 25% 85%;
    --sidebar-accent-foreground: 20 14% 10%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 19 56% 41%;
  }
  .dark {
    --background: 20 14% 8%;
    --foreground: 60 30% 96%;
    --card: 20 14% 10%;
    --card-foreground: 60 30% 96%;
    --popover: 20 14% 8%;
    --popover-foreground: 60 30% 96%;
    --primary: 19 56% 41%;
    --primary-foreground: 40 50% 98%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 60 30% 96%;
    --muted: 20 14% 15%;
    --muted-foreground: 60 30% 80%;
    --accent: 120 25% 45%;
    --accent-foreground: 60 30% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 19 56% 41%;
    --chart-1: 120 25% 45%;
    --chart-2: 19 56% 41%;
    --chart-3: 30 70% 50%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 20 14% 10%;
    --sidebar-foreground: 60 30% 96%;
    --sidebar-primary: 19 56% 41%;
    --sidebar-primary-foreground: 40 50% 98%;
    --sidebar-accent: 20 14% 15%;
    --sidebar-accent-foreground: 60 30% 96%;
    --sidebar-border: 20 14% 15%;
    --sidebar-ring: 19 56% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
